html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7c6c6;
}

/* ШАПКА */
.main-header {
    background: #e7c6c6;
    border-bottom: 2px solid #2d1b36;
    text-align: center;
    padding: 10px 0 15px;
}

.site-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #2d1b36;
    font-weight: bold;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: #b4004e;
}

/* ОСНОВНОЙ КОНТЕНТ */
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* ФУТЕР */
footer {
    border-top: 2px solid #2d1b36;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}